.contentC {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   padding: 8rem 6rem;
   > h2 {
      max-width: 74rem;
      text-align: center;
   }
   .carousel {
      width: 100%;
      position: relative;
      height: 40rem;
      .property {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
         border: 1px solid var(--neutral-100, #e6e6e6);
         box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
         border-radius: 1.5rem;
         background-color: var(--base-white, #ffffff);
         padding: 1.5rem 1.5rem 3rem 1.5rem;
         margin: 0 0.5rem;
         .photo {
            margin-inline: auto;
            width: 26.25rem;
            height: 26.25rem;
            position: relative;
         }
         .location {
            display: flex;
            gap: 0.5rem;
            .pin {
               height: 2rem;
               width: 2rem;
               position: relative;
               > img {
                  filter: var(--Terracotta-filter);
               }
            }
         }
      }
   }
}

@media (max-width: 1600px) {
   .contentC {
      padding: 6rem 1.5rem;
      > h2 {
         max-width: 56rem;
      }
   }
}

@media (max-width: 1000px) {
   .contentC {
      padding: 4rem 1rem;
      .carousel {
         height: 26rem;
         .property {
            padding: 1rem 1rem 2rem 1rem;
            gap: 1rem;
            .photo {
               width: 100%;
               height: 14rem;
               width: min(14rem, 100%);
            }
         }
      }
   }
}
