.f1-125 {
   font-size: 1.125rem;
   line-height: 140%;
}
.f1-25 {
   font-size: 1.25rem;
   line-height: 140%;
}

.f1 {
   font-size: 1rem;
   line-height: 140%;
}

.f1-5 {
   font-size: 1.5rem;
   line-height: 140%;
}

.f1-5B {
   font-size: 1.5rem;
   font-weight: bold;
   line-height: 140%;
}

.f2B {
   font-size: 2rem;
   font-weight: bold;
   line-height: 140%;
}

.f2-5B {
   font-size: 2.5rem;
   font-weight: bold;
   line-height: 140%;
}

.f1-125BNoScale {
   font-size: 1.125rem;
   font-weight: bold;
   line-height: 140%;
}
@media screen and (max-width: 834px) {
   .f1-125 {
      font-size: 0.875rem;
   }
   .f1-25 {
      font-size: 1rem;
   }
   .f1 {
      font-size: 0.75rem;
   }
   .f1-5 {
      font-size: 1.16788rem;
   }
   .f1-5B {
      font-size: 1.16788rem;
   }
   .f2B {
      font-size: 1.5rem;
   }
   .f2-5B {
      font-size: 1.5rem;
   }
}
