.contentC {
   font-size: 1.125rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   .banner {
      border-radius: 0rem 0rem 5rem 5rem;
      width: 100%;
      height: 45rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .content {
      width: 100%;
      padding: 0 8rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      > h1 {
         text-align: center;
      }
      .description {
         text-align: center;
         font-size: 1.25rem;
      }
      > button {
         margin: 2.5rem 0;
         border-radius: 0.5rem;
         background: var(--primary-500, #1a2d3d);
         height: 2.5rem;
         width: 6rem;
         font-weight: 700;
      }
   }
}
@media (max-width: 1600px) {
   .contentC {
      .banner {
         // background-position:  center;

         height: 35rem;
      }
   }
}
@media (max-width: 1130px) {
   .contentC {
      .banner {
         height: 25rem;
      }
   }
}
@media (max-width: 870px) {
   .contentC {
      padding-top: 4rem;

      .banner {
         background-position: -20rem center;
         height: 30rem;
      }
      .content {
         padding: 0 3rem;
      }
   }
}
@media (max-width: 660px) {
   .contentC {
      .banner {
         background-position: center;
         height: 17rem;
         border-radius: 0rem 0rem 2.5rem 2.5rem;
      }
   }
}
@media (max-width: 450px) {
   .contentC {
      .banner {
         background-position: center;
         height: 13rem;
      }
      .content {
         padding: 0 1.5rem;
      }
   }
}
