.contentC {
   width: 100%;
   display: flex;
   gap: 7rem;
   padding-left: 8rem;
   justify-content: space-between;
   > h2 {
      display: none;
   }
   .content {
      width: 35rem;
      padding-top: 9.56rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .paraC {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
      }
   }
   .banner {
      width: 45rem;
      max-height: 31.4375rem;

      > img {
         width: 100%;
         height: auto;
         object-fit: contain;
         object-position: top right;
      }
   }
}
.expand {
   cursor: pointer;
   color: var(--info-500, #295bff);
   display: flex;
   align-items: center;
   gap: 0.25rem;
   > img {
      filter: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(4443%) hue-rotate(222deg) brightness(99%)
         contrast(105%);
   }
}
@media (max-width: 1440px) {
   .contentC {
      .content {
         width: 30rem;
         .paraC {
            max-width: 100%;
         }
      }
      .banner {
         flex: 1 0 0;
      }
   }
}
@media (max-width: 1350px) {
   .contentC {
      gap: 3rem;
      .content {
         padding-top: 0rem;
         width: 25rem;
      }
   }
}
@media (max-width: 1100px) {
   .contentC {
      flex-direction: column;
      gap: 3rem;
      padding: 5rem 0;
      .content {
         width: 100%;
         padding: 0 5rem;
         .paraC {
            gap: 1rem;
            > h2 {
               padding-bottom: 2rem;
               text-align: center;
            }
         }
      }
      .banner {
         width: 100%;
      }
   }
}
@media (max-width: 555px) {
   .contentC {
      width: 100%;
      > h2 {
         display: block;
         text-align: center;
      }
      flex-direction: column;
      .content {
         order: 3;
         padding: 0 2rem;
         > h2 {
            display: none;
         }
      }
      .banner {
         order: 2;
      }
   }
}
