.contentC {
   display: flex;
   width: 100%;
   padding: 5rem 8rem;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
   > h1 {
      text-align: center;
   }
   .location {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      > button {
         width: 7rem;
         display: flex;
         padding: 0.625rem 1.25rem;
         justify-content: center;
         align-items: center;
         border-radius: 5rem;
         color: var(--neutral-600, #68696a);
         background: var(--neutral-100, #e6e6e6);
         &.active,
         &:hover {
            color: var(--base-white, #fff);
            background: var(--primary-500, #1a2d3d);
            font-weight: 700;
         }
      }
   }
   .content {
      gap: 5rem;
      width: 100%;
      max-width: 50rem;
      // max-height: 40.3125rem;
      // min-height: 28.3125rem;
      > img {
         width: 100%;
         height: auto;
         object-fit: contain;
      }
      .neighborhood {
         display: flex;
         flex-wrap: wrap;
         gap: 1.5rem;
         flex: 1 0 0;
         > div {
            display: flex;
            align-items: center;
            width: 15rem;
            height: 3rem;
            padding: 0.5rem 0.75rem;
            border-radius: 0.75rem;
            border: 1px solid var(--neutral-300, #c0c1c1);
         }
      }
      &.active {
         width: 100%;
         display: flex;
         justify-content: center;
      }
   }
}

@media (max-width: 834px) {
   .contentC {
      padding: 5rem;
   }
}
