.contentC {
   // background-color: red;
   width: 100%;
   .heroC {
      width: 100%;
      background-size: cover;
      min-height: 50rem;
      max-height: 50.75rem;
      .title {
         padding-top: 5rem;
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
         gap: 1.5rem;
         h4 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 200;
         }
         h1 {
            text-align: center;
            width: 43rem;
            line-height: 3.5rem;
         }
         .searchC {
            width: 40rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.7rem;
            gap: 0.7rem;
            border-radius: 0.7rem;
            border: 1px solid var(--neutral-100, #e6e6e6);
            background: var(--base-white, #fff);
            text-align: center;
            .searchIcon {
              height: 2.5rem;
               padding: 0.7rem 1rem;
               border-radius: 0.5rem;
               background: rgba(26, 45, 61, 0.12);
               > img {
                  opacity: 0.38;
                  filter: brightness(0) saturate(100%) invert(14%) sepia(16%) saturate(1539%) hue-rotate(165deg)
                     brightness(94%) contrast(93%);
               }
            }
         }
      }
   }
}
