.contentC {
   width: 100%;
   display: flex;
   padding: 5rem 8rem;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
   background: var(--Secondary-Mint, #d2f9e1);
   > div {
      height: 3.5rem;
      > img {
         width: 100%;
         height: 100%;
      }
   }
   > h2 {
      text-align: center;
   }
   > p {
      text-align: center;
   }
}
@media (max-width: 1145px) {
   .contentC {
      padding: 5rem;
   }
}
@media (max-width: 1145px) {
   .contentC {
      padding: 5rem 1rem;
   }
}
