.contentC {
   padding: 8rem;
   > div {
      background-color: var(--Primary-Sun, #ffe39b);
      border-radius: 1.5rem;
      overflow: hidden;
      height: 22.4375rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 5rem;
      gap: 4rem;

      .content {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
         > a {
            color: var(--base-white, #fff);
            height: 3.5rem;
            display: flex;
            align-items: center;
            padding: 0 3rem;
            background: var(--primary-500, #1a2d3d);
            width: fit-content;
            border-radius: 0.75rem;
         }
      }
      .banner {
         position: relative;
         height: 100%;
         width: 40rem;
         flex-shrink: 0;
      }
   }
}
@media (max-width: 1400px) {
   .contentC {
      padding: 3rem;
      > div {
         padding-left: 2rem;
         gap: 1rem;
      }
   }
}
@media (max-width: 1100px) {
   .contentC {
      padding: 0;
      margin-top: 2rem;
      > div {
         border-radius: 0;
      }
   }
}
@media (max-width: 1000px) {
   .contentC {
      > div {
         flex-direction: column;
         justify-content: start;
         align-items: center;
         height: unset;
         padding: 0;
         padding-top: 2rem;
         overflow: hidden;
         .content {
            align-items: center;
            > h2 {
               text-align: center;
            }
         }
         .banner {
            height: 18.25rem;
            // width: auto;
         }
      }
   }
}

@media (max-width: 600px) {
   .contentC {
      > div {
         .content {
            padding: 0 1rem;
         }
         .banner {
            width: 23.4375rem;
            height: 13.18831rem;
         }
      }
   }
}
