.contentC {
   .headingC {
      padding-left: 8rem;
      border-radius: 0rem 0rem 5rem 5rem;
      background: var(--Primary-Sun, #ffe39b);
      height: 45rem;
      width: 100%;
      display: flex;
      // align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
      .heading {
         max-width: 90rem;
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         .content {
            width: 30rem;
            flex-shrink: 0;
            .description {
               display: flex;
               flex-direction: column;
               > div {
                  display: flex;
                  flex-wrap: wrap;
                  > h1 {
                     white-space: nowrap;
                  }
               }
               gap: 1rem;
            }
            .searchBox {
               margin-top: 2rem;
               margin-bottom: 1rem;
               display: flex;
               justify-content: space-between;
               height: 3.5rem;
               padding: 0.75rem;
               align-items: center;
               gap: 0.75rem;
               border-radius: 0.75rem;
               border: 1px solid var(--neutral-100, #e6e6e6);
               background: var(--base-white, #fff);
               > input {
                  flex-grow: 1;
                  height: 100%;
                  border: none;
                  outline: none;
                  background: transparent;
                  color: var(--neutral-900, #333);
               }
               .searchBtn {
                  height: 2.5rem;
                  padding: 0.7rem 1rem;
                  border-radius: 0.5rem;
                  background: rgba(26, 45, 61, 0.12);
                  > img {
                     opacity: 0.38;
                     filter: brightness(0) saturate(100%) invert(14%) sepia(16%) saturate(1539%) hue-rotate(165deg)
                        brightness(94%) contrast(93%);
                  }
               }
            }
            .discover {
               font-style: italic;
            }
         }
         .background {
            width: 100%;
            // max-width: 52.1875rem;
            max-height: 36rem;
            height: 100%;
            position: relative;
            z-index: 2;
            > img {
               object-fit: contain;
            }
         }
      }
   }
   .itemC {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      height: 10rem;
      .item {
         margin-top: -7rem;
         display: flex;
         width: 14rem;
         padding: 1rem;
         flex-direction: column;
         align-items: center;
         gap: 0.5rem;
         border-radius: 1rem;
         border: 1px solid var(--neutral-100, #e6e6e6);
         background: var(--base-white, #fff);
         box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
         z-index: 2;
      }
   }
   .desC {
      padding: 5rem 0rem 5.56rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.56rem;
      .des {
         display: flex;
         gap: 10rem;
         > h2 {
            width: 21rem;
            white-space: nowrap;
         }
         > p {
            width: 43.4375rem;
            > b {
               font-style: italic;
            }
         }
      }
   }
}
@media (max-width: 1440px) {
   .contentC {
      .desC {
         .des {
            gap: 7rem;

            > p {
               max-width: 30rem;
            }
         }
      }
   }
}
@media (max-width: 1130px) {
   .contentC {
      padding-top: 4rem;
      .headingC {
         padding-left: 5rem;
         // max-height: 35rem;
         .heading {
            .content {
               width: 30rem;
            }
         }
      }
      .desC {
         padding: 5rem 0rem;
         .des {
            gap: 3rem;
            > h2 {
               white-space: wrap;
               width: 21rem;
            }
            > span {
               max-width: 18rem;
            }
         }
      }
   }
}
@media (max-width: 1000px) {
   .contentC {
      .headingC {
         min-height: 60rem;
         gap: 1rem;
         padding-bottom: 4.62rem;
         .heading {
            flex-direction: column-reverse;
            gap: 0.7rem;
            .content {
               width: 100%;
               padding: 0;
               max-width: 34rem;
               text-align: center;
               .description {
                  > div {
                     flex-direction: column;
                     align-items: center;
                  }
               }
               .searchBox {
                  width: 100%;
               }
            }
            .background {
               flex: none;
               background-position: bottom;
               max-height: 30rem;
               width: 100%;
            }
         }
      }
      .itemC {
         flex-direction: column;
         padding-top: 1.5rem;
         height: auto;
         .item {
            margin-top: 0rem;
         }
      }
      .desC {
         padding: 3rem;
         gap: 3rem;
         .des {
            flex-direction: column;
            gap: 0.75rem;
            > span {
               max-width: 30rem;
            }
         }
      }
   }
}
@media (max-width: 555px) {
   .contentC {
      .headingC {
         border-radius: 0rem 0rem 2.5rem 2.5rem;
         gap: 1rem;
         padding-inline: 1.5rem;
         padding-bottom: 2rem;
         min-height: unset;
         height: 42rem;
      }
      .desC {
         padding: 5rem 1.5rem 0;
         gap: 3rem;
         .des {
            > h2 {
               width: 100%;
            }
            > p {
               width: 100%;
            }
         }
      }
   }
}
