.contentC {
   font-size: 1.125rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 0;
   gap: 3rem;
   .processC {
      width: 100%;
      display: flex;
      gap: 6rem;
      padding: 0 8rem;

      .process {
         flex-direction: column;
         gap: 0.5rem;
         display: flex;
         .stepsC {
            display: flex;
            .steps {
               font-size: 1.125rem;
               color: var(--neutral-600, #68696a);
               display: flex;
               width: 22.5rem;
               padding: 1rem;
               gap: 0.25rem;
               border-radius: 12px;
               border: 1px solid var(--neutral-300, #c0c1c1);
               background: var(--base-white, #fff);
               > img {
                  filter: brightness(0) saturate(100%) invert(43%) sepia(0%) saturate(795%) hue-rotate(247deg)
                     brightness(92%) contrast(86%);
               }
               > span {
                  text-align: left;
               }
               &.active {
                  background: var(--primary-500, #1a2d3d);
                  color: var(--base-white, #fff);
                  font-weight: 700;
                  > img {
                     filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7461%) hue-rotate(111deg)
                        brightness(104%) contrast(99%);
                  }
               }
            }
         }
      }
      .stepsMobile {
         height: 100%;
         width: 100%;
         max-width: 130rem;
         .steps {
            display: none;
         }
         .description {
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.01s ease-out, transform 0.1s ease-out;
            height: 0;
            width: 0;

            > span {
               display: none;
            }
            &.active {
               padding-top: 0.5rem;
               display: flex;
               flex-direction: column;
               gap: 2rem;
               height: auto;
               width: 100%;
               opacity: 1;
               transform: translateY(0);
               > span {
                  display: block;
               }
            }
            .stepsImg {
               width: 100%;
               > img {
                  border-radius: 1rem;
                  width: 100%;
                  height: auto;
                  object-fit: contain;
               }
            }
         }
      }
   }
}

@media (max-width: 1100px) {
   .contentC {
      .processC {
         padding: 0 2rem;
         gap: 2rem;
      }
   }
}
@media (max-width: 850px) {
   .contentC {
      width: 100%;
      padding: 5rem;

      .processC {
         width: 100%;
         padding: 0;
         .process {
            .stepsC {
               display: none;
            }
         }
         .stepsMobile {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .steps {
               font-size: 1.125rem;
               color: var(--neutral-600, #68696a);
               display: flex;
               width: 100%;
               padding: 16px;
               border-radius: 12px;
               border: 1px solid var(--neutral-300, #c0c1c1);
               background: var(--base-white, #fff);
               > span {
                  text-align: left;
               }
               > img {
                  filter: brightness(0) saturate(100%) invert(43%) sepia(0%) saturate(795%) hue-rotate(247deg)
                     brightness(92%) contrast(86%);
               }
               &.active {
                  background: var(--primary-500, #1a2d3d);
                  color: var(--base-white, #fff);
                  font-weight: 700;
                  > img {
                     filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7461%) hue-rotate(111deg)
                        brightness(104%) contrast(99%);
                  }
               }
            }
         }
      }
   }
}
@media (max-width: 555px) {
   .contentC {
      width: 100%;
      padding: 5rem 1.5rem;
   }
}
