.contentC {
   width: 100%;
   display: flex;
   gap: 7rem;
   padding-right: 8rem;
   justify-content: space-between;
   > h2 {
      display: none;
   }
   .content {
      max-width: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      .paraC {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
      }
   }
   .banner {display: flex;
      width: 45rem;

      > img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: top left;
      }
   }
}
.expand {
   cursor: pointer;
   color: var(--info-500, #295bff);
   display: flex;
   align-items: center;
   gap: 0.25rem;
   > img {
      filter: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(4443%) hue-rotate(222deg) brightness(99%)
         contrast(105%);
   }
}
@media (max-width: 1440px) {
   .contentC {
      .content {
         max-width: 30rem;
         .paraC {
            max-width: 100%;
         }
      }
      .banner {
         flex: 1 0 0;
      }
   }
}
@media (max-width: 1130px) {
   .contentC {
      gap: 3rem;
      padding-right: 3rem;
      .content {
         padding-top: 0rem;
         max-width: 22rem;
      }
   }
}
@media (max-width: 834px) {
   .contentC {
      flex-direction: column;
      gap: 3rem;
      padding: 5rem 0;
      .content {
         max-width: 100%;
         padding: 0 5rem;

         .paraC {
            gap: 1rem;
            > h2 {
               text-align: center;
            }
         }
      }
      .banner {
         width: 100%;
         padding-right: 5rem;
      }
   }
}
@media (max-width: 555px) {
   .contentC {
      width: 100%;
      padding-bottom: 8.12rem;
      gap: 1rem;
      flex-direction: column;

      > h2 {
         display: block;
         text-align: center;
         padding-bottom: 2rem;
      }
      .content {
         order: 3;
         padding: 0 1.5rem;
        .paraC {
            gap: 1rem;
            > h2 {
               display: none;
            }
         }
      }
      .banner {
         order: 2;
         padding-right: 0;
         background: #EBECEC;
      }
   }
}
