.contentC {
   width: 100%;
   height: 51.625rem;
   display: flex;
   gap: 7rem;
   .content {
      width: 50%;
      padding-top: 8rem;
      padding-right: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      .expand {
         cursor: pointer;
         color: var(--info-500, #295bff);
         display: flex;
         align-items: center;
         gap: 0.25rem;
         > img {
            filter: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(4443%) hue-rotate(222deg)
               brightness(99%) contrast(105%);
         }
      }
   }
   .banner {
      width: 50%;
      height: 100%;
      border-radius: 0rem 6.5rem 0rem 0rem;
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
@media (max-width: 2050px) {
   .contentC {
      .content {
         justify-content: start;
         padding-top: 8rem;
      }
   }
}
@media (max-width: 1350px) {
   .contentC {
      gap: 7rem;
      .content {
         padding-right: 4rem;
      }
      .banner {
         background-position: top left;
         background-size: cover;
         &.active {
            height: 40rem;
         }
      }
   }
}
@media (max-width: 1110px) {
   .contentC {
      flex-direction: column;
      gap: 3rem;
      padding: 5rem 0;
      .content {
         order: 2;
         width: 100%;
         padding: 0 8rem;
         > h2 {
            text-align: center;
         }
      }
      .banner {
         order: 1;
         width: 100%;
         height: 45rem;
         background-size: contain;
         &.active {
            height: 45rem;
         }
      }
   }
}
@media (max-width: 775px) {
   .contentC {
      gap: 3rem;
      .content {
         padding: 0 5rem;
      }
      .banner {
         height: 30rem;
         &.active {
            height: 30rem;
         }
      }
   }
}
@media (max-width: 470px) {
   .contentC {
      gap: 1rem;
      .content {
         padding: 0 2rem;
      }
      .banner {
         height: 20rem;
         &.active {
            height: 20rem;
         }
      }
   }
}
