.heroC {
   width: 100%;
   margin-top: 4rem;
   padding: 0 8rem;
   background-size: cover;
   min-height: 50rem;
   max-height: 50.75rem;
   // background-image: url("https://dyaj6jwzih5dm.cloudfront.net/landing/assets/home_bg.png");
   background: var(--Primary-Sun, #FFE39B);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   .title {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 1.5rem;
      h3 {
         text-align: center;
         text-transform: uppercase;
         font-weight: 200;
      }
      h1 {
         text-align: center;
         width: min(43rem, 90%);
         line-height: 3.5rem;
      }
      .searchC {
         width: min(40rem, 80%);
         height: 3.5rem;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0.7rem;
         gap: 0.7rem;
         border-radius: 0.7rem;
         border: 1px solid var(--neutral-100, #e6e6e6);
         background: var(--base-white, #fff);
         text-align: center;
         > input {
            flex-grow: 1;
         }
         .searchIcon {
            height: 2.5rem;
            padding: 0.7rem 1rem;
            border-radius: 0.5rem;
            background: rgba(26, 45, 61, 0.12);
            > img {
               position: relative !important;
               opacity: 0.38;
               filter: brightness(0) saturate(100%) invert(14%) sepia(16%) saturate(1539%) hue-rotate(165deg)
                  brightness(94%) contrast(93%);
            }
         }
      }
      .iconAgency {
         width: 6.62225rem;
         height: 3.5rem;
         position: relative;
      }
   }
}
@media (max-width: 950px) {
   .heroC {
      padding: 0 2rem;

      .carousel {
         margin-top: 4rem;
      }
   }
}

@media (max-width: 800px) {
   .heroC {
      .title {
         gap: 0.75rem;
      }
   }
}
