.contentC {
   height: 8rem;
   display: flex;
   align-items: center;
   padding: 0 8rem;
   justify-content: space-between;
   background: var(--base-white, #fff);
   .logoC {
      height: 2rem;
      width: 6.125rem;
      position: relative;
   }
   > span {
      color: var(--Gray-500, #667085);
   }
}

@media (max-width: 800px) {
   .contentC {
      padding: 2rem 1.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;
      .logoC {
         width: 5.4375rem;
         height: 1.75rem;
      }
      > span {
         font-size: 0.875rem;
      }
   }
}
