.contentC {
   // width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .leftC {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      max-width: 50%;
      padding: 0 9rem;
      .paragraphsC {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         > span {
            text-align: justify;
            color: var(--primary-500, #1a2d3d);
            font-family: "GT Walsheim";
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 1.75rem */
         }
      }
   }
   .img {
      width: 50%;
      > img {
         width: 100%;
         max-height: auto !important;
         position: static !important;
        height: 100%;
        background-size: cover !important;
      }
   }
}
