.contentC {
   padding: 5rem 8rem;
   .content {
      border-radius: 1.5rem;
      background: var(--Secondary-Mint, #d2f9e1);
      overflow: hidden;
      position: relative;
      margin: auto;
      display: flex;
      .cta {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1rem;
         position: absolute;
         top: 5rem;
         left: 50%;
         transform: translateX(-50%);
         > h2 {
            text-align: center;
            padding: 0 0.5rem;
         }
         > p {
            text-align: center;
         }
         > button {
            margin-top: 1rem;
            color: var(--base-white, #fff);
            height: 3.5rem;
            display: flex;
            align-items: center;
            padding: 0 3rem;
            background: var(--primary-500, #1a2d3d);
            width: fit-content;
            border-radius: 0.75rem;
            flex-shrink: 0;
         }
      }
      .img {
         width: 100%;
         height: auto;
      }
   }
}
@media (max-width: 1440px) {
   .contentC {
      .content {
         height: 26.625rem;
         .cta {
            gap: 0.5rem;
            top: 3rem;
         }
         .img {
            object-fit: cover;
         }
      }
   }
}
@media (max-width: 834px) {
   .contentC {
      padding: 5rem;
      .content {
         gap: 1.5rem;
         .titleC {
            gap: 0.5rem;
         }
      }
   }
}

@media (max-width: 555px) {
   .contentC {
      padding: 5rem 1.5rem;
      .content {
         gap: 1.5rem;
         .cta {
            top: 3.19rem;
            > button {
               height: 3.5rem;
               width: max-content;
            }
         }
      }
   }
}
