.contentC {
   font-size: 1.125rem;
   padding: 5rem 8rem;
   .content {
      border-radius: 1.5rem;
      background: var(--Secondary-Mint, #d2f9e1);
      overflow: hidden;
      position: relative;
      // max-width: 90rem;
      margin: auto;
      .cta {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1rem;
         position: absolute;
         top: 5rem;
         left: 50%;
         transform: translateX(-50%);
         > h2 {
            font-size: 2rem;
            text-align: center;
            padding: 0 0.5rem;
         }
         > span {
            text-align: center;
         }
         > button {
            margin-top: 1rem;
            color: var(--base-white, #fff);
            height: 3.5rem;
            display: flex;
            align-items: center;
            padding: 0 3rem;
            background: var(--primary-500, #1a2d3d);
            width: fit-content;
            border-radius: 0.75rem;
            flex-shrink: 0;
         }
      }
      .img {
         width: 100%;
         height: auto;
      }
   }
}
@media (max-width: 1440px) {
   .contentC {
      // padding: 5rem;
      .content {
      }
   }
}
// @media (max-width: 834px) {
//    .contentC {
//       padding: 5rem;
//       .content {
//          gap: 1.5rem;
//          .titleC {
//             gap: 0.5rem;
//             > h2 {
//                font-size: 1.5rem;
//             }
//             > span {
//                width: 18.4375rem;
//                font-size: 0.875rem;
//             }
//          }
//          height: 24.625rem;
//          .backgroundImg {
//             > img {
//                object-fit: cover;
//             }
//          }
//       }
//    }
// }
